*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #141414;
  color: #ffffff;
  overflow-y: scroll;
}

img {
  display: block;
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: HelveticaLight;
  src: url(../fonts/HelveticaNeue-Light.otf);
  font-weight: 100;
}

@font-face {
  font-family: HelveticaReg;
  src: url(../fonts/HelveticaNeue.otf);
  font-weight: 400;
}

@font-face {
  font-family: HelveticaBold;
  src: url(../fonts/HelveticaNeue-Bold.otf);
  font-weight: 600;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p, a, li {
  font-family: HelveticaLight, serif;
  font-size: max(16px, 1.8vh);
  color: #ffffff;
  line-height: 1.5;
}

@media only screen and (min-width: 1100px) {
  p, a, li {
    font-size: max(16px, 2.3vh);
  }
}

.page-title {
  font-family: HelveticaBold, serif;
  font-size: max(40px, 6vh);
  text-transform: uppercase;
}

@media only screen and (min-width: 1100px) {
  .page-title {
    font-size: 9vh;
  }
}

.page-title--intro {
  display: block;
  text-transform: unset;
}

.page-title--lp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.page-title--red {
  color: #E52025;
}

.page-title--blue {
  color: #3B82AD;
}

.section-title {
  font-family: HelveticaBold;
  font-size: max(27.5px, 3.4vh);
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media only screen and (min-width: 1100px) {
  .section-title {
    font-size: 5.5vh;
  }
}

.section-title--lowCase {
  text-transform: unset;
}

.section-title--center {
  text-align: center;
}

.services-title {
  margin: 1.7vh;
  font-family: HelveticaReg;
  font-size: max(20px, 2.8vh);
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 5;
}

@media only screen and (min-width: 1100px) {
  .services-title {
    font-size: 4vh;
  }
}

.gallery-title {
  font-family: HelveticaBold;
  font-size: max(20px, 2.8vh);
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 5;
}

@media only screen and (min-width: 1100px) {
  .gallery-title {
    font-size: 4vh;
  }
}

.redi-claim {
  margin-top: 3.4vh;
  font-family: HelveticaBold;
  font-size: max(40px, 6vh);
  text-transform: uppercase;
  color: #E52025;
}

@media only screen and (min-width: 1100px) {
  .redi-claim {
    margin: 0;
    font-size: 9vh;
  }
}

.text {
  margin-top: 3.4vh;
  font-family: HelveticaLight;
  font-size: max(16px, 1.8vh);
  line-height: 1.5;
}

@media only screen and (min-width: 1100px) {
  .text {
    font-size: max(16px, 2.3vh);
    margin-top: 6vh;
  }
}

.text--center {
  text-align: center;
}

.text--gallery {
  margin-top: 0.425vh;
}

.text--map {
  display: inline-block;
  margin: 0.5rem;
  color: #E52025;
  text-transform: uppercase;
  border-bottom: solid 1px #E52025;
  -webkit-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
  z-index: 100;
}

@media only screen and (min-width: 1100px) {
  .text--map {
    margin: 1rem;
  }
}

.text--map:hover {
  color: #ffffff;
  border-bottom: solid 1px #ffffff;
}

.redi-dot {
  top: -2px;
  color: #E52025;
}

.redi-dot--inv {
  color: #ffffff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #adadad;
  box-shadow: 0 0 0px 1000px #141414 inset;
  -webkit-box-shadow: 0 0 0px 1000px #141414 inset;
  font-size: max(16px, 1.8vh);
}

@media only screen and (min-width: 1100px) {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    font-size: max(16px, 2.3vh);
  }
}

.form__input, .form__textarea,
.form input, .form textarea {
  margin-top: 0.425vh;
  color: #adadad;
  font-family: HelveticaLight;
  font-size: max(16px, 1.8vh);
}

@media only screen and (min-width: 1100px) {
  .form__input, .form__textarea,
  .form input, .form textarea {
    font-size: max(16px, 2.3vh);
  }
}

.form__input::-webkit-input-placeholder, .form__textarea::-webkit-input-placeholder,
.form input::-webkit-input-placeholder, .form textarea::-webkit-input-placeholder {
  font-family: HelveticaLight;
  font-size: max(16px, 1.8vh);
  color: #adadad;
}

.form__input:-ms-input-placeholder, .form__textarea:-ms-input-placeholder,
.form input:-ms-input-placeholder, .form textarea:-ms-input-placeholder {
  font-family: HelveticaLight;
  font-size: max(16px, 1.8vh);
  color: #adadad;
}

.form__input::-ms-input-placeholder, .form__textarea::-ms-input-placeholder,
.form input::-ms-input-placeholder, .form textarea::-ms-input-placeholder {
  font-family: HelveticaLight;
  font-size: max(16px, 1.8vh);
  color: #adadad;
}

.form__input::placeholder, .form__textarea::placeholder,
.form input::placeholder, .form textarea::placeholder {
  font-family: HelveticaLight;
  font-size: max(16px, 1.8vh);
  color: #adadad;
}

@media only screen and (min-width: 1100px) {
  .form__input::-webkit-input-placeholder, .form__textarea::-webkit-input-placeholder,
  .form input::-webkit-input-placeholder, .form textarea::-webkit-input-placeholder {
    font-size: max(16px, 2.3vh);
  }
  .form__input:-ms-input-placeholder, .form__textarea:-ms-input-placeholder,
  .form input:-ms-input-placeholder, .form textarea:-ms-input-placeholder {
    font-size: max(16px, 2.3vh);
  }
  .form__input::-ms-input-placeholder, .form__textarea::-ms-input-placeholder,
  .form input::-ms-input-placeholder, .form textarea::-ms-input-placeholder {
    font-size: max(16px, 2.3vh);
  }
  .form__input::placeholder, .form__textarea::placeholder,
  .form input::placeholder, .form textarea::placeholder {
    font-size: max(16px, 2.3vh);
  }
}

.form__file-attach {
  color: #adadad;
  text-align: center;
}

.form__data-link {
  color: #E52025;
  border-bottom: 1px solid #E52025;
}

.form__data-link--blue {
  color: #3B82AD;
  border-bottom: 1px solid #3B82AD;
}

.u-list__text {
  font-family: HelveticaLight;
  font-size: max(16px, 1.8vh);
  line-height: 1.5;
}

@media only screen and (min-width: 1100px) {
  .u-list__text {
    font-size: max(16px, 2.3vh);
  }
}

.u-list__slash {
  padding-right: 5px;
  color: #E52025;
  font-family: HelveticaReg;
  font-size: max(27.5px, 3.4vh);
}

.u-list__slash--blue {
  color: #3B82AD;
}

.o-list {
  margin-top: 3.4vh;
  padding-left: 4.25vh;
  counter-reset: my-awesome-counter;
  list-style: none;
}

@media only screen and (min-width: 1100px) {
  .o-list {
    margin-top: 6vh;
    padding-bottom: 0;
    font-size: 5.5vh;
  }
}

.o-list__text {
  position: relative;
  padding-left: 25px;
  counter-increment: my-awesome-counter;
}

@media only screen and (min-width: 400px) {
  .o-list__text {
    padding-left: 20px;
  }
}

@media only screen and (min-width: 1100px) {
  .o-list__text {
    padding-left: 37.5px;
  }
}

.o-list__text + .o-list__text {
  margin-top: 3.4vh;
}

.o-list__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.o-list__text::before {
  position: absolute;
  left: -3.4vh;
  padding-bottom: 5px;
  content: counter(my-awesome-counter) ". ";
  font-size: max(27.5px, 3.4vh);
  font-family: HelveticaBold;
}

@media only screen and (min-width: 1100px) {
  .o-list__text::before {
    font-size: 5.5vh;
  }
}

.nav-toggle__text {
  font-size: max(16px, 1.8vh);
  text-transform: uppercase;
}

@media only screen and (min-width: 1100px) {
  .nav-toggle__text {
    font-size: max(16px, 2.3vh);
  }
}

.nav__item {
  margin-bottom: 0.5rem;
}

.nav__link {
  font-family: HelveticaBold, serif;
  font-size: 3.5vh;
  text-transform: uppercase;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

@media only screen and (min-width: 1100px) {
  .nav__link {
    font-size: 5.5vh;
  }
}

.nav__link:hover {
  color: #E52025;
}

.nav__link--social {
  font-size: max(16px, 2.3vh);
  margin-bottom: 5rem;
  padding: 0;
}

.nav__item--social {
  padding-top: 3rem;
}

@media only screen and (min-width: 1100px) {
  .nav__item--social {
    padding-top: 0;
  }
}

@media only screen and (min-width: 1100px) {
  .nav__item {
    margin-bottom: 4vh;
  }
}

.footer__item + .footer__item {
  margin-left: 3.4vh;
}

.footer__link {
  font-family: HelveticaLight;
  font-size: max(16px, 1.8vh);
}

@media only screen and (min-width: 1100px) {
  .footer__link {
    font-size: max(16px, 2.3vh);
  }
}

.footer__link:hover {
  border-bottom: 1px solid #ffffff;
  margin-bottom: -1px;
}

.footer__copyright {
  text-align: center;
  font-size: max(12px, 1.25vh);
  margin-top: 1.7vh;
}

.btn {
  margin-top: 3.4vh;
  font-family: HelveticaBold;
  font-size: max(20px, 2.1vh);
  text-transform: uppercase;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

@media only screen and (min-width: 1100px) {
  .btn {
    margin-top: 6vh;
    font-size: 2.5vh;
  }
}

.btn--underline {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-bottom: 1px solid #ffffff;
}

.btn--underline:hover {
  color: #E52025;
  border-bottom: 1px solid #E52025;
}

.btn-form {
  margin-top: 1.7vh;
  padding: 1.13333vh 3.4vh;
  color: #ffffff;
  background-color: #E52025;
  border: 0;
}

@media only screen and (min-width: 1100px) {
  .btn-form {
    font-size: 2.5vh;
    padding: 1.5vh 6vh;
    margin-top: 3vh;
  }
}

.btn-form:hover {
  background-color: #ffffff;
  color: #E52025;
  cursor: pointer;
}

.btn--blue {
  background-color: #3B82AD;
}

.btn--blue:hover {
  color: #3B82AD;
}

.wp-intro__skip__btn {
  margin-top: .25rem;
}

.wp-intro__skip__btn:hover {
  border-bottom: 1px solid #ffffff;
  margin-bottom: -1px;
}

.gallery-container {
  position: relative;
  height: 90vh;
  margin: 3.4vh;
}

@media only screen and (min-width: 1100px) {
  .gallery-container {
    margin: 6vh;
  }
}

.gallery {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  gap: 7.5px;
  -ms-grid-rows: 50fr 50fr;
      grid-template-rows: 50fr 50fr;
      grid-template-areas: "img--first" "img--third";
}

@media only screen and (min-width: 1100px) {
  .gallery {
    margin-bottom: 0;
    -ms-grid-columns: 60fr 40fr;
        grid-template-columns: 60fr 40fr;
    -ms-grid-rows: 50fr 50fr;
        grid-template-rows: 50fr 50fr;
        grid-template-areas: "img--first img--second" "img--first img--third";
  }
}

.gallery__item {
  position: relative;
  min-width: 0;
  min-height: 0;
}

.gallery__text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: rgba(20, 20, 20, 0.7);
  opacity: 1;
  -webkit-transition: opacity ease-in-out 0.25s;
  transition: opacity ease-in-out 0.25s;
}

.gallery__item--first {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img--first;
}

.gallery__item--second {
  grid-area: img--second;
}

.gallery__item--third {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: img--third;
}

.gallery__item--second {
  display: none;
  opacity: 0;
}

@media only screen and (min-width: 1100px) {
  .gallery__item--second {
    display: block;
    opacity: 1;
  }
}

.gallery__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: opacity ease-in-out 0.25s;
  transition: opacity ease-in-out 0.25s;
}

.gallery__btns {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1vh;
  z-index: 2;
}

@media only screen and (min-width: 1100px) {
  .gallery__btns {
    padding: 0 1vh;
  }
}

.gallery__btn {
  min-width: 25px;
  min-height: 25px;
  width: 3.4vh;
  height: 3.4vh;
  -webkit-transition: -webkit-transform ease-in-out 0.25s;
  transition: -webkit-transform ease-in-out 0.25s;
  transition: transform ease-in-out 0.25s;
  transition: transform ease-in-out 0.25s, -webkit-transform ease-in-out 0.25s;
}

@media only screen and (min-width: 1100px) {
  .gallery__btn {
    width: 6vh;
    height: 6vh;
  }
}

.gallery__btn-svg {
  fill: none;
  stroke: #E52025;
  stroke-miterlimit: 10;
  stroke-width: 20px;
  -webkit-transition: stroke ease-in-out 0.25s;
  transition: stroke ease-in-out 0.25s;
}

.gallery__btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.gallery__btn:hover .gallery__btn-svg {
  stroke: #ffffff;
}

.form-container {
  margin: 3.4vh;
}

@media only screen and (min-width: 1100px) {
  .form-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    min-height: 50vh;
    margin: 6vh;
  }
}

.form {
  margin-top: 0.85vh;
  /* Checkbox src - https://www.w3schools.com/tags/att_input_type_checkbox.asp */
}

@media only screen and (min-width: 1100px) {
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 1.5vh;
  }
}

@media only screen and (min-width: 1100px) {
  .form__item {
    width: 100%;
  }
}

@media only screen and (min-width: 1100px) {
  .form__headline {
    padding-left: 5rem;
  }
}

.form__input, .form__textarea {
  width: 100%;
  height: 35px;
  max-width: 100%;
  margin-bottom: 0.25rem;
  border: 0;
  border-bottom: solid 1px #E52025;
  background-color: #141414;
}

.form__textarea {
  min-height: 100px;
  margin-top: 0.25rem;
  border: 0;
  resize: none;
}

.form__input--blue {
  border-bottom: solid 1px #3B82AD;
}

.form__data {
  display: inline-block;
  position: relative;
  padding-left: 1.5rem;
  margin-top: 0.85vh;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form__file {
  position: relative;
  width: 100%;
}

.form__file-input {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.form__file-attach {
  display: block;
  min-width: 100%;
  padding: 0.85vh;
  padding-left: 0.25rem;
  border: 1px solid #E52025;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

.form__file-attach:hover {
  cursor: pointer;
  color: #E52025;
}

.form__file-attach--blue {
  border: 1px solid #3B82AD;
}

.form__file-attach--blue:hover {
  color: #3B82AD;
}

.form__data input {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
  cursor: pointer;
}

.form__checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #ffffff;
  -webkit-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
}

@media only screen and (min-width: 1100px) {
  .form__checkmark {
    top: 7px;
  }
}

.form__data:hover .form__checkbox ~ .form__checkmark {
  background-color: #E52025;
}

.form__checkbox:checked ~ .form__checkmark {
  background-color: #E52025;
}

.form__data--blue:hover .form__checkbox ~ .form__checkmark {
  background-color: #3B82AD;
}

.form__checkbox--blue:checked ~ .form__checkmark {
  background-color: #3B82AD;
}

.form__checkmark:after, .form__checkmark:before {
  content: "";
  position: absolute;
  display: none;
}

.form__checkbox:checked ~ .form__checkmark:after {
  display: block;
}

.form__checkbox:checked ~ .form__checkmark:before {
  display: block;
}

.form__checkmark:after, .form__checkmark:before {
  left: 7px;
  top: -7px;
  width: 1px;
  height: 30px;
  border: solid white;
  border-width: 0 1px 1px 0;
}

.form__checkmark:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.form__checkmark:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.form-blue input[type=text] {
  border-bottom: solid 1px #3B82AD;
}

.form-blue .form__button {
  background-color: #3B82AD;
}

.form-blue .form__button:hover {
  color: #3B82AD;
  background-color: #ffffff;
}

.form-blue .form__data:hover input ~ .checkmark {
  background-color: #3B82AD;
}

.form-blue .form__data input:checked ~ .checkmark {
  background-color: #3B82AD;
}

header {
  position: relative;
}

.menu {
  position: fixed;
  height: 4.5rem;
  width: 100%;
  top: 0;
  padding: 4.5vh 3.4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  z-index: 120;
  -webkit-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
}

@media only screen and (min-width: 1100px) {
  .menu {
    height: 5rem;
    padding: 4.5vh 6vh;
  }
}

.menu--intro {
  position: absolute;
  top: 0;
  opacity: 1;
}

.nav {
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.nav__logo {
  width: 90px;
}

@media only screen and (min-width: 1100px) {
  .nav__logo {
    width: 110px;
  }
}

.nav--open {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 8rem 3.4vh 0;
  display: block;
  z-index: 50;
  background-color: rgba(20, 20, 20, 0.98);
}

@media only screen and (min-width: 1100px) {
  .nav--open {
    padding: 20rem 6vh 0;
  }
}

.nav--opacity {
  opacity: 1;
}

@media only screen and (min-width: 1100px) {
  .nav-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    width: 80%;
  }
}

.nav-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.nav-toggle:hover {
  color: #E52025;
}

.nav-toggle:hover .nav-toggle__icon span {
  background: #E52025;
}

.nav-toggle--open span:nth-child(1),
.nav-toggle--open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.nav-toggle--open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-toggle--open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav-toggle__icon {
  width: 30px;
  height: 30px;
  top: 5px;
  position: relative;
  margin-left: 1rem;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  cursor: pointer;
}

@media only screen and (min-width: 1100px) {
  .nav-toggle__icon {
    width: 40px;
  }
}

.nav-toggle__icon span {
  display: block;
  position: absolute;
  left: 0;
  height: 1px;
  width: 100%;
  background: #ffffff;
  opacity: 1;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

@media only screen and (min-width: 1100px) {
  .nav-toggle__icon span {
    height: 2px;
  }
}

.nav-toggle__icon span:nth-child(1) {
  top: 0px;
}

.nav-toggle__icon span:nth-child(2),
.nav-toggle__icon span:nth-child(3) {
  top: 8px;
}

@media only screen and (min-width: 1100px) {
  .nav-toggle__icon span:nth-child(2),
  .nav-toggle__icon span:nth-child(3) {
    top: 10px;
  }
}

.nav-toggle__icon span:nth-child(4) {
  top: 16px;
}

@media only screen and (min-width: 1100px) {
  .nav-toggle__icon span:nth-child(4) {
    top: 20px;
  }
}

.footer {
  width: 100%;
  margin: 3.4vh auto;
  padding: 0 3.4vh;
}

.footer .footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3.4vh;
}

@media only screen and (min-width: 1100px) {
  .text-center {
    width: 55%;
    min-height: 65vh;
    margin: 0 auto;
  }
}

.text-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3.4vh;
}

@media only screen and (min-width: 1100px) {
  .text-column {
    min-height: 85vh;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1100px) {
  .text-column__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 1100px) {
  .text-column__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 12vh;
  }
  .text-column__item--first {
    width: 70%;
    margin-right: 12vh;
  }
}

.text-column__item + .text-column__item {
  margin-top: 6.8vh;
}

@media only screen and (min-width: 1100px) {
  .text-column__item + .text-column__item {
    margin-top: 0;
  }
}

.text-row {
  margin: 3.4vh;
}

@media only screen and (min-width: 1100px) {
  .text-row {
    min-height: 30vh;
    margin: 12vh 6vh;
  }
  .text-row .section-title, .text-row .text {
    text-align: center;
  }
}

.u-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.u-list__slash {
  margin-right: 11px;
}

.u-list--row {
  margin-top: 1.7vh;
}

@media only screen and (min-width: 1100px) {
  .u-list--row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.u-list__item--row {
  margin-top: 1.7vh;
}

@media only screen and (min-width: 1100px) {
  .u-list__item--row {
    max-width: 25%;
    margin-top: 0;
  }
}

section {
  margin: 0 auto;
}

.section-fs {
  height: 100vh;
}

@media only screen and (min-width: 1100px) {
  .section-fs {
    margin: 6vh 0;
  }
}

.page-intro {
  min-height: 90vh;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-intro__text {
  margin: 3.4vh;
}

@media only screen and (min-width: 1100px) {
  .page-intro__text {
    margin: 6vh;
  }
}

.picture {
  position: relative;
}

.picture__img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.wp-intro {
  opacity: 0;
  display: none;
  height: 100vh;
  background: #000;
  padding: 0;
  position: relative;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  z-index: 200;
}

.wp-intro__headline {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.wp-intro h1 {
  position: absolute;
  margin: 0 9vw;
  opacity: 0;
}

.wp-intro__video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.wp-intro__animation--first, .wp-intro__animation--third {
  bottom: 25vh;
}

.wp-intro__animation--second, .wp-intro__animation--fourth {
  top: 25vh;
}

.wp-intro__animation {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: text-fade;
          animation-name: text-fade;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.wp-intro__animation--second {
  -webkit-animation-delay: 3.6s;
          animation-delay: 3.6s;
}

.wp-intro__animation--third {
  -webkit-animation-delay: 6.4s;
          animation-delay: 6.4s;
}

.wp-intro__animation--fourth {
  -webkit-animation-delay: 9.6s;
          animation-delay: 9.6s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: text-fade--end;
          animation-name: text-fade--end;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes text-fade {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes text-fade {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes text-fade--end {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes text-fade--end {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.wp-intro--show {
  opacity: 1;
  display: block;
}

.stop-scrolling {
  height: 100vh;
  overflow-y: hidden;
}

.wp-intro--fade {
  -webkit-transition: opacity 0.7s;
  transition: opacity 0.7s;
}

.wp-intro__skip {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 9vw 9vw 0;
}

@media only screen and (min-width: 1100px) {
  .wp-intro__skip {
    padding: 0 9vw 12.5vh 0;
  }
}

.wp-intro a, .wp-intro p {
  z-index: 2;
}

.wp-intro__progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
}

.wp-intro__progress__bar {
  position: relative;
  top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  height: 1px;
  margin: 0 5px 10px;
}

.wp-intro__progress__line {
  width: 0;
  -webkit-transition: width 11s linear;
  transition: width 11s linear;
  background: #E52025;
}

.wp-intro__slide--first {
  opacity: 0;
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: text-fade;
          animation-name: text-fade;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: 4;
          animation-iteration-count: 4;
}

.services {
  margin: 3.4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 1100px) {
  .services {
    height: 90vh;
    margin: 6vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.services__item {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-top: 1.7vh;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  overflow: hidden;
}

@media only screen and (min-width: 1100px) {
  .services__item {
    width: 100vw;
    height: 100%;
    margin-top: 0;
  }
  .services__item + .services__item {
    margin-left: 6vh;
  }
}

.services__item:hover .services__img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  opacity: 1;
}

.services__img {
  opacity: 1;
  z-index: 1;
  -webkit-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
}

@media only screen and (min-width: 1100px) {
  .services__img {
    opacity: 0.9;
  }
}

.services-title {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
}

.contact-container {
  margin-top: 10.2vh;
}

@media only screen and (min-width: 1100px) {
  .contact-container {
    margin-top: 12vh;
  }
}

.contact-map {
  margin: 3.4vh;
}

@media only screen and (min-width: 1100px) {
  .contact-map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 6vh;
  }
}

.contact-map__item {
  width: 100%;
}

.contact-map__item + .contact-map__item {
  margin-top: 3.4vh;
}

@media only screen and (min-width: 1100px) {
  .contact-map__item + .contact-map__item {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1100px) {
  .contact-map__address {
    padding-left: 5rem;
  }
}

.contact-map__google {
  position: relative;
  display: block;
  width: 100%;
  height: 20vh;
}

@media only screen and (min-width: 1100px) {
  .contact-map__google {
    min-height: 50vh;
  }
}

.contact-map__google:hover {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */